*{
    margin: 0;
    padding: 0;
    font-family: Bahij_TheSansArabic-Bold ;
    direction: rtl;
}
@font-face{
    src: url(/fonts/Bahij_TheSansArabic-Bold.ttf);
    font-family:Bahij_TheSansArabic-Bold ;
}
:root {
    --maincolor: rgb(54, 88, 84);
    --inputcolor:rgba(245, 245, 245, 1);
    --btnhover :rgba(72, 115, 111, 1);
    --btncolor : rgb(128, 161, 159);
    --bordercolor:rgb(216, 216, 216);
} 
body{
    background-position: center;
    
}
.maincontent{
    display: flex;
}



/*................................................ start css reg................................*/
.reg{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    padding: 30px 40px;
    
}


.reg .contreg {
    background-color: rgb(255, 255, 255);
    width: 400px;
    height: 80vh;
    border-radius: 5px;
    border: 1px solid var(--inputcolor);
    transition: 1s;
    position: relative;
}
.reg .contreg:hover{
    box-shadow: 0px 0px 20px 30px var(--inputcolor) ;
}
.contreg img{
    width: 100px;
    height: 100px;
    margin: 20px 0;
}
.contreg input{
    width: 310px;
    height: 37px;
    border: none;
    border-radius: 10px;
    background-color: var(--inputcolor);
}
.contreg input::placeholder{
    font-size: small;
}
.contreg button{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: var(--btncolor);
    color: white;
}
.contreg button:hover{
    background-color: var(--btnhover);
}
.contreg a{
    text-decoration: none;
    color: var(--btncolor);

}
.contreg .forgetpass{
    margin-left: 35px;
    padding-top: 5px;
}

.contreg a i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: var(--maincolor);
}
.contreg .btn{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 25px;
    background-color: var(--btncolor);
    color: white;
}
.contreg .btn:hover{
    background-color: var(--btnhover);
}
.contreg .hide{
    width: 300px;
    height: 30px;
    background-color: rgba(255, 229, 229, 1);
    border-radius: 10px;
    position: absolute;
    top: 158px;
    right: 45px;
    color: red;
    font-weight: 600;
}
.contreg span {
    font-size: 10px;
    padding-right: 10px;
}

.contreg .insertcode input{
width: 40px;
height: 40px;
border-radius: 50px;
margin: 0 7px 20px 7px;
background-color: transparent;
border: 1px solid var(--btncolor);

}
@media only screen and ( max-width: 600px){
    .reg .contreg {
        width: 330px;
        height: 50%;
    } 
    .contreg .forgetpass{
        margin-left: 8px;
        padding-top: 5px;
    }
    .contreg input{
        width: 290px;
    }
}
/*................................................ start css sidesignup.............................*/
.signcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.signup .sidesign{
    width: 200px;
    height: 90vh;
    background-color: var(--btnhover);
    font-size: 11px;
    color: white;
    border-radius: 10px;
}
.sidesign img{
    width: 70px;
    height: 30px;
}
.sidesign form div {
    margin-bottom: -9px;

}

.signup  .contentsign{
    width: 600px;
    height: 90vh;
    background-color: white;
    border: 1px solid var(--btncolor);
    border-radius: 10px;
}
.contentsign #off{
    font-weight: bold;
    color: rgba(204, 52, 52, 1);

}
.contentsign img{
    width: 80px;
    height: 80px;
}
.contentsign form {
    width: 400px;
}
.contentsign form input::placeholder{
    font-size: 12px;
}
.contentsign form input{
    margin: 9px 0 5px 0;
    height: 35px;
    background-color: rgba(245, 245, 245, 1);
}
.contentsign form .btn{
    width: 400px;
    background-color: var(--btncolor);
    border-radius: 20px;
    border: none;
    margin-top: 22px;
}
.contentsign form .btn:hover{
    background-color: var(--btnhover);
}
.contentsign i {
    position: absolute;
    bottom: 15px;
    left: 10px;
    color: var(--btnhover);
    clip-path:circle(55%);
}

.imgupload{
    margin-bottom: 5px;
    position: relative;
}
.imgupload h6{
    font-size: 12px;
    color: gray;
    padding: 3px 0;
}

.imgupload Label {
    Height: 100px;
    Width: 400px;
    Border: 1.4px dashed #999;
    border-radius: 10px;
    color: gray;
    
}

.imgupload Label:hover{
    color: var(--btnhover);
    Border: 1.5px dashed var(--btnhover);
    cursor: pointer;
}
.endreg{
    position: absolute;
    right: 48%;
    top: 45%;
    transform: (-50% , -50%);
}
.fa-right-from-bracket{
    position: absolute;
    right: 75%;
    top: 85%;
    transform: (-50% , -50%);
    font-size: larger;
    color: var(--btnhover);
}




@media only screen and (max-width: 838px) {
    .signup .sidesign {
        width: 200px;
    }

    .signup .contentsign {
        width: 350px;
    }

    .contentsign form {
        width: 300px;
    }

    .contentsign form .btn {
        width: 300px;
        margin-top: 10px;
    }
    .imgupload Label {
        Width: 300px;
    }
    .endreg{
        position: absolute;
        right: 46.5%;
        top: 50%;
        transform: (-50% , -50%);
    }

}
@media only screen and (max-width: 600px) {

    .signup .sidesign {
        display: none;
    }

    .contentsign form {
        width: 300px;
    }

    .contentsign form .btn {
        width: 300px;
        margin-top: 30px;
    }
    .signup  .contentsign{
        margin-right: 28px;
        height: 63vh;
    }
    .contentsign form input{
        margin: 10px 0;
    }
    .imgupload Label {
        Width: 300px;
    }
    .endreg{
        position: absolute;
        right: 20%;
        top: 30%;
        transform: (-50% , -50%);
    }
    .fa-right-from-bracket{
        position: absolute;
        right: 80%;
        top: 58%;
        transform: (-50% , -50%);
    }
}




/*.................................................. start css navbar................................*/

.content .navbar{
    height: 50px;
    width: 100%;
    border-bottom: 1px solid var(--bordercolor);
    
}
.navbar .navbar-text select{
    height: 40px;
    width: 200px;
    background-color: white;
    border: none;
    border-radius: 10px;
    text-align: center;
}
.navbar-brand .fa-bars:hover{
    color: var(--btnhover);
} 
/*.................................................. end   css navbar................................*/

/*................................................ start css sidebar................................*/

.sidenav {
    height:inherit;
    width: 205px;
    background-color:var(--maincolor);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 10px;
    text-decoration: none;
    font-size: 13px;
    color:white;
    display: block;
    padding-right: 20px;
    transition: .3s;
}
.sidenav a span {
    padding-right: 10px;
}
.sidenav img{
    width: 50%;
    height: 10px;
}

.sidenav a:hover {
    background-color: #f1f1f1;
    color:var(--maincolor) ;
    font-weight: bold;
    font-size: 14px;
    
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.sidenav img{
    width: 80px ;
    height: 35px;
    margin-bottom: 35px;
    margin-top: -10px;
    
}
/*.................................................. end css sidebar................................*/
.content{
    width: 100%;
    height: max-content;
}
.content .addoffer{
    border: 1px solid var(--bordercolor);
    width: calc(100% - 50px);
    height: min-content;
    margin-top: 20px;
    border-radius: 10px;
}
.content .addoffer label{
    font-size: 13px;
    font-weight: bold;
}
.addimg label{
    Height: 100px;
    Width: 100px;
    Border: 1.4px dashed #999;
    border-radius: 10px;
    color: gray;
    
}
.content .addoffer form{
    width: calc(100% - 350px);
}
.addoffer form .date input {
    width: 315px;
}
.addoffer form .date select{
    width: 317px;
    height: 35px;
}
.addoffer form select{
    background-color: white;
    border: 1px solid var(--bordercolor);
    border-radius: 5px;
}
.addoffer form select option{
    padding-right: 10px;
}
.addoffer form button{
    background-color: var(--btncolor);
    border: none;
    color: white;
}
.addoffer form button:hover{
    background-color: var(--btnhover);
    color: white;
}
